body {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 0.5rem;
}

#ficha {
    max-width: 55rem;
    display: flex;
    flex-direction: column;
    background-color: lightcyan;
    border: 1px solid black;
    
    border-radius: 1.1rem;
    >header, >form, >section, >section>article {
        border-radius: 1rem;
    }
    
    >header, >form, >section>article {
        display: flex;
        justify-content: space-between;
        border: 1px solid black;
        padding: 1rem;
    }

    >header {
        /* Borde punteado: activar para debug */
        /* * { border: 1px dotted black; } */

        background-color: purple;
        color: white;
        font-weight: bolder;
        align-items: center;
        padding: 0.5rem 2rem;
    
        >a>img {
            /* Icono cuadrado: tan ancho como alto */
            width: 3rem;
            height: 3rem;
        }
    
        >span {
            text-align: right;
            font-size: 0.75rem;
            >span {
                font-size: 2rem;
            }
        }
    }

    >form, >section>article {
        background-color: white;
    }

    >form {
        /* Borde punteado: activar para debug */
        /* * { border: 1px dotted black; } */

        margin: 1rem 4rem;
        flex-wrap: wrap;

        >div {
            width: 48%;

            >input, >textarea {
                width: 96%;
                padding: 0.2rem;
            }

            >input {
                margin: 0 0 1rem 0;
            }

            >textarea{
                /* Limite vertical con scrollbar automático */
                resize: none;
                height: 8.5rem;
                overflow-y: auto;
                scrollbar-width: thin;
                scrollbar-color: purple transparent;
            }
        }

        >div:last-of-type {
            display: flex;
            justify-content: space-between;
            flex-basis: 100%;
            flex-wrap: wrap;

            >button {
                background-color: purple;
                color: white;
                font-weight: bold;
                height: 2.5rem;
                width: 100%;
                min-width: 6rem;
                max-width: 30%;
                border-radius: 0.5rem;
                text-transform: capitalize;
            }

            >button:hover {
                color: purple;
                font-weight: bolder;
                background-color: white;
                border-color: purple;
                box-shadow: 0 0 1rem purple;
            }

            >button:active {
                transform: scale(0.95);
            }
        }
    }

    >section {
        margin: 0.5rem 6rem;

        /* Limite vertical con scrollbar automático */
        height: 13.7rem;
        overflow-y: auto;
        scrollbar-width: thin;
        scrollbar-color: purple transparent;
        padding: 0 0.5rem 0 0;

        >article {
            /* Borde punteado: activar para debug */
            /* * { border: 1px dotted black; } */

            margin: 0.5rem 0;

            >img {
                /* Icono cuadrado: tan ancho como alto */
                width: 4rem;
                height: 4rem;
            }

            >span>h3 {
                margin: 0;
                font-size: medium;
            }

            >span:first-of-type {
                width: 100%;
                margin: 0 0.5rem;
                p {
                    margin: 0;
                    font-size: small;

                    /* Limite vertical con scrollbar automático */
                    height: 2.8rem;
                    overflow-y: auto;
                    scrollbar-width: thin;
                    scrollbar-color: purple transparent;
                    padding: 0 0.1rem 0 0;
                }
            }         

            >span:last-of-type {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;

                >div {
                    display: flex;
                    gap: 0.2rem;

                    >button {
                        background-color: lightcyan;
                        color: red;
                        text-transform: uppercase;
                        font-weight: bolder;
                        border: 1px solid black;
                        border-radius: 0.5rem;
                        padding: 0.2rem 0.4rem;
                    }

                    >button:hover {
                        background-color: white;
                        border-color: purple;
                        box-shadow: 0 0 0.3rem purple;
                    }

                    >button:active {
                        transform: scale(0.95);
                    }
                }

            }
        }
    }
}
